* {
    list-style-type: none;
}

body {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0, 87%);
    margin-top: 0;
}

.header h3 {
    padding-left: 20px;
}

@media (max-width: 767px) {
    body {
        width: 100%;
    }
}

h5 {
    font-size: 0.8rem;
    color: rgb(0, 0, 0, 54%);
    padding: 8px 16px 4px 16px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FC5C5D;
    text-transform: capitalize;
}

a:visited {
    color: #FB2A2B;
}

.header {
    color: white;
    background-color: #FC5C5D;
    padding: 5px 15px 5px 0px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin-top: -1px;
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
        padding-bottom: 16px;
        margin-top: -10px;
    }
}

.select {
    margin-left: 16px;
    font-size: 14px;
    width: 333px;
    height: 32px;
    padding: 2px;
    overflow: hidden;
    background: transparent;
    background-color: white;
    border-radius: 5px;
    text-transform: capitalize;
    outline: none !important;
    border-style: none;
}

.option {
    background-color: white;
}

.main-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

@media (max-width: 767px) {
    .main-div {
        margin: 10px;
        flex-direction: column;
    }
}

.repo-name,
.contributor-div {
    margin-bottom: 8px;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
}

.repo-details,
.contributor-div {
    width: 50%;
}

@media (max-width: 767px) {
    .repo-details,
    .contributor-div {
        width: 100%;
    }
}

.repo-name {
    padding: 16px;
    margin-right: 16px;
    margin-top: 0;
    height: 156px;
}

@media (max-width: 767px) {
    .repo-name {
        margin-right: 0;
    }
}

.contributor-list {
    padding: 0;
    margin: 0;
}

.contributor-item {
    border-bottom: solid 1px rgb(0, 0, 0, 12%);
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.contributor-item:hover {
    background-color: #1C1D21;
    transition: 0.2s;
}

.contributor-item a:hover {
    color: white;
}

.contributor-avatar {
    border-radius: 3px;
    margin-right: 16px;
    height: 48px;
}

.contributor-login,
.contributions {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.contribution {
    font-size: 12px;
    padding: 2px 8px;
    line-height: 1rem;
    background-color: gray;
    color: white;
    border-radius: 4px;
}
